{% extends "layouts/layout.html" %} {% block body %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>{{publicacion[1]}}</h2>
                <p>{{publicacion[3]}}</p>
                <p>
                    <a class="btn btn-secondary" href="/" role="button"
                        >Volver »</a
                    >
                </p>
            </div>
        </div>
        <hr />
    </div>
    <!-- /container -->
</main>
{% endblock %}
